body {
    font-family: "Inter", sans-serif;
    padding-top: 140px;
}

body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
    background: #888;
}

.shadow-xs {
    --bs-box-shadow-xs: 0 0.1rem 0.75rem 0.25rem rgba(0, 0, 0, 0.05);
}

.load {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 100%;
    height: auto;
}

div#sm-menu {
    overflow-y: scroll;
    height: 52vh;
}

#sm-menu.show::-webkit-scrollbar {
    width: 5px;
}

#sm-menu.show::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#sm-menu.show::-webkit-scrollbar-thumb {
    background: #888;
}

.menu-top {
    top: -200px !important;
    z-index: 9;
}

.pages-banner {
    background-image: url(/assets/imgs/bg-pages.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 15px 0px 55px 0px;
}

/* nav*/
.navbar-nav .nav-link {
    color: #000000;
}

.dropend .dropdown-toggle {
    color: #07b8b0;
    margin-left: 1em;
}
.dropdown-item:hover {
    background-color: #07b8b0;
    color: #ffffff;
    border-radius: 10px;
}

.dropdown-menu {
    border: none;
    background: #fbfdff;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
}

.dropdown .dropdown-menu {
    display: none;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
    .dropend .dropdown-toggle {
        margin-left: 0.5em;
    }
}

.hov-shadow {
    transition: all 0.3s ease-in-out;
}

.hov-shadow:hover {
    box-shadow: 3px 0px 17px 0px #cccccc;
}

/* start zainab css*/
.soft-blue-card {
    padding: 32px;
    background: #07b8b0;
    border-radius: 24px;
}
.lh-35 {
    line-height: 35px !important;
}
.m-x-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.ps-50 {
    padding-right: 50px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.acbt {
    background-color: #ffffff !important;
    box-shadow: none !important;
}

.border-b-2 {
    border-bottom: 2px solid #e1e1e1;
}

input.form-control.searchBar:focus {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none;
}

input.form-control.searchBar {
    background-color: transparent !important;
    border: none;
    margin: 0px !important;
}

.w-30 {
    width: 30%;
}
.soft-dark {
    color: #005c97;
}

.soft-green {
    color: #07b8b0;
}

.shadow-bg-layer {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.bg-child-blue {
    background-color: #e3f4f7;
}

.bt-style {
    border: 1px solid #121212;
    background: #ffffff;
    padding: 15px 30px;
    color: #121212;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.bt-style:hover {
    color: #121212;
    background: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-white {
    background: #fff;
    margin-top: -126px;
    height: 290px;
    border-radius: 0px 0px 40px 0px;
}

.card-white-top {
    background: #fff;
    margin-top: 20px;
    height: 251px;
    border-radius: 0px 0px 40px 0px;
}

.card-white-down {
    background: #fff;
    margin-top: 140px;
    height: 360px;
    padding-right: 40px;
    border-radius: 0px 40px 0px 0px;
}

.bg-img-card {
    background-image: url("/assets/imgs/meet-us/Union(2).webp");
    border-radius: 40px;
    background-size: cover;
    padding-top: 120px;
    height: 600px;
}

.accordion-flush-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button.acbt::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 0C1.96957 0 1.46086 0.210714 1.08579 0.585786C0.710714 0.960859 0.5 1.46957 0.5 2V12C0.5 12.5304 0.710714 13.0391 1.08579 13.4142C1.46086 13.7893 1.96957 14 2.5 14H12.5C13.0304 14 13.5391 13.7893 13.9142 13.4142C14.2893 13.0391 14.5 12.5304 14.5 12V2C14.5 1.46957 14.2893 0.960859 13.9142 0.585786C13.5391 0.210714 13.0304 0 12.5 0H2.5ZM8 3.5V6.5H11C11.1326 6.5 11.2598 6.55268 11.3536 6.64645C11.4473 6.74021 11.5 6.86739 11.5 7C11.5 7.13261 11.4473 7.25979 11.3536 7.35355C11.2598 7.44732 11.1326 7.5 11 7.5H8V10.5C8 10.6326 7.94732 10.7598 7.85355 10.8536C7.75979 10.9473 7.63261 11 7.5 11C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5V7.5H4C3.86739 7.5 3.74021 7.44732 3.64645 7.35355C3.55268 7.25979 3.5 7.13261 3.5 7C3.5 6.86739 3.55268 6.74021 3.64645 6.64645C3.74021 6.55268 3.86739 6.5 4 6.5H7V3.5C7 3.36739 7.05268 3.24021 7.14645 3.14645C7.24021 3.05268 7.36739 3 7.5 3C7.63261 3 7.75979 3.05268 7.85355 3.14645C7.94732 3.24021 8 3.36739 8 3.5Z'/%3E%3C/svg%3E");
    transition: all 0.5s;
    background-color: #fff;
}
.accordion-button.acbt:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
    border-radius: 3px;
    background-color: #fff;
}

.accordion-button.acbt::after {
    position: absolute;
    left: 0;
}
.accordion-header .acbt:active {
    background-color: transparent;
}

.accordion-body.SubSubMneu {
    padding-top: 0px;
    padding-bottom: 0px;
}

.pagination-style {
    background: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 7px;
    color: #000;
    font-weight: 600;
}

.arrow-style {
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 7px;
    color: #000;
}

.bg-green-card {
    background-color: #07b8b0;
}

span.num {
    text-decoration: underline;
}

.txt {
    height: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 95%;
}

a {
    color: #0465f4;
    text-decoration: none;
}

.tasa-display-regular {
    font-family: "TASA Orbiter Display Regular";
    font-weight: normal;
}

.tasa-display-medium {
    font-family: "TASA Orbiter Display Medium";
    font-weight: normal;
}

.tasa-display-semiBold {
    font-family: "TASA Orbiter Display SemiBold";
    font-weight: normal;
}

.tasa-display-bold {
    font-family: "TASA Orbiter Display Bold";
    font-weight: normal;
}

.tasa-display-black {
    font-family: "TASA Orbiter Display Black";
    font-weight: normal;
}

.tasa-deck-regular {
    font-family: "TASA Orbiter Deck Regular";
    font-weight: normal;
}

.tasa-text-regular {
    font-family: "TASA Orbiter Text Regular";
    font-weight: normal;
}

.tasa-deck-medium {
    font-family: "TASA Orbiter Deck Medium";
    font-weight: normal;
}

.tasa-text-medium {
    font-family: "TASA Orbiter Text Medium";
    font-weight: normal;
}

.tasa-deck-semiBold {
    font-family: "TASA Orbiter Deck SemiBold";
    font-weight: normal;
}

.tasa-text-semiBold {
    font-family: "TASA Orbiter Text SemiBold";
    font-weight: normal;
}

.tasa-deck-bold {
    font-family: "TASA Orbiter Deck Bold";
    font-weight: normal;
}

.tasa-text-bold {
    font-family: "TASA Orbiter Text Bold";
    font-weight: normal;
}

.top-nav {
    width: 100%;
    background-color: #05395b;
    height: 40px;
}

.main-navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: transparent;
    /* height: 75px; */
    z-index: 999;
    transition: all 0.2s ease-in-out;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.btn-menu {
    display: block;
    height: 48px;
    padding: 12px 24px;
    text-align: center;
    border-radius: 12px;
    background: #05395b;
    color: #ffffff;
    font-weight: 600;
    border: none;
    outline: none;
    width: 100%;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.btn-main-blue {
    display: flex;
    height: 48px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: #05395b;
    color: #ffffff;
    font-weight: 600;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.btn-main-blue svg path {
    stroke: #201e38;
    transition: all 0.2s ease-in-out;
}

.btn-main-blue:hover {
    background: #07b8b0;
    color: #e9eef2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-main-blue:hover svg path {
    stroke: #e9eef2;
}

.btn-main-blue:disabled {
    color: #e9eef2;
    background: #07b8b0;
    cursor: not-allowed;
    box-shadow: none;
}

.btn-dark {
    display: flex;
    height: 48px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #060606;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.btn-outline-dark {
    display: flex;
    height: 40px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: transparent;
    color: #05395b;
    border: 1px solid #05395b;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.btn-blue {
    display: flex;
    height: 40px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #05395b;
    color: white;
    border: 1px solid #05395b;
    font-size: 14px;
    font-weight: 500;
}

.btn-outline-dark:hover {
    border: 1px solid #05395b;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #05395b;
}

.nav-item .submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: #f6fafd;
    min-width: 240px;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
}

.nav-item .submenu a {
    text-decoration: none;
    display: block;
    color: #0d1033;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.nav-item .submenu a:hover,
.nav-item .submenu a.active,
.nav-item .submenu .has-submenu a:has(+ .submenu-2:hover) {
    color: #ffffff;
    background: #05395b;
}

.nav-item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
}

.nav-item svg.icon-arrow {
    transition: all 0.2s ease-in-out;
}

.nav-item:hover svg.icon-arrow {
    transform: rotate(180deg);
    fill: #05395b !important;
}

.nav-item:has(> .submenu:hover) .nav-link {
    color: #05395b !important;
}

.nav-item:has(> .submenu:hover) .nav-link svg.icon-arrow {
    fill: #05395b !important;
}

.nav-link:hover,
.nav-link.active {
    color: #05395b !important;
}

.nav-link:hover svg.icon-arrow,
.nav-link.active svg.icon-arrow {
    fill: #05395b !important;
}

.nav-item .submenu .has-submenu {
    position: relative;
}

.nav-item .submenu .has-submenu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 245px;
    transition: all 0.2s ease-in-out;
}

.nav-item .submenu .has-submenu a svg {
    transition: all 0.2s ease-in-out;
}

.nav-item .submenu .has-submenu a:hover svg,
.nav-item .submenu .has-submenu a.active svg,
.nav-item .submenu .has-submenu a:has(+ .submenu-2:hover) svg {
    fill: #e9eef2;
    transform: rotate(90deg);
}

.nav-item .submenu .has-submenu .submenu-2 {
    opacity: 0;
    visibility: hidden;
    top: 0px;
    right: -112%;
    position: absolute;
    background: #f6fafd;
    min-width: 240px;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
}

.nav-item .submenu .has-submenu:hover .submenu-2 {
    opacity: 1;
    visibility: visible;
}

ul .li:hover {
    background: #1e4cd6 !important;
}

.burger-button {
    width: 40px;
}

.burger-button:before,
.burger-button:after,
.burger-button div {
    background: #0d1033;
    content: "";
    display: block;
    height: 5px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}
.burger-button.dark:before,
.burger-button.dark:after,
.burger-button.dark div {
    background: #0d1033;
}
.burger-button.active:before {
    transform: translateY(12px) rotate(135deg);
}
.burger-button.active:after {
    transform: translateY(-12px) rotate(-135deg);
}
.burger-button.active div {
    transform: scale(0);
}

#sm-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0px;
    top: 85px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

#sm-menu.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
}

.accordion-button.active {
    color: #07b8b0 !important;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.main-color {
    color: #0d1033 !important;
}

.main-color-1 {
    color: #141c68 !important;
}

.blue-color {
    color: #05395b;
}

.light-gray {
    color: rgb(13 16 51);
    opacity: 0.1;
}

.main-color-hover {
    color: #0d1033 !important;
    transition: all 0.1s ease-in-out;
}

.main-color-hover:hover {
    color: #fe330a !important;
    transition: all 0.1s ease-in-out;
}

.white-color {
    color: #f6fafd;
}

.white-color-1 {
    color: #ffffff;
}

.orange-color {
    color: #d92500;
}

.green-color {
    color: #14681c;
}

.black-color {
    color: #000000;
}

.bg-gra-half {
    background: linear-gradient(
        135deg,
        #aebcbf 0%,
        #07b8b0 0%,
        #07b8b0 0%,
        #07b8b0 50%,
        #0a0809 50%,
        #05395b 50%,
        #05395b 50%,
        #05395b 100%,
        #6e7774 100%,
        #6e7774 100%,
        #0a0809 100%,
        #6e7774 100%
    );
}

.bg-soft-green {
    background-color: #07b8b042;
}

.dark-color {
    color: #121212;
}

.dark-color-1 {
    color: #121212 !important;
}

.dark-color-2 {
    color: #1e1e1e;
}

.gray-color {
    color: #a5aea8;
}

.gray-color-1 {
    color: #666b68;
}

.line-1 {
    background-color: #a5aea8;
    width: 1px;
    height: 35px;
}
.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.fs-28 {
    font-size: 28px;
}

.fs-32 {
    font-size: 32px;
}

.fs-36 {
    font-size: 36px;
}

.fs-40 {
    font-size: 40px;
}

.fs-48 {
    font-size: 48px;
}

.fs-50 {
    font-size: 50px;
}

.fs-64 {
    font-size: 64px;
}

.fs-65 {
    font-size: 65px;
}

.fs-80 {
    font-size: 80px;
}

.fs-96 {
    font-size: 96px;
}

.fs-100 {
    font-size: 100px;
}

.fs-140 {
    font-size: 140px;
}

.color-light-blue {
    color: #93b9f0;
}
.under-txt {
    text-decoration: underline;
}
.color-link-blue {
    color: #2c34ae;
}

.bg-green {
    background: #17411b;
}

.bg-light-green {
    background: #e6fee7;
}

.bg-ghost-white {
    background: #f6fafd;
}

.bg-ghost-white-1 {
    background: #f8f9fa;
}

.bg-orange {
    background: #e9eef2;
}

.bg-light-orange {
    background-color: #fef5e6;
}

.bg-gra {
    background: linear-gradient(98deg, #0d1033 27.45%, #111651 85.75%);
}

.bg-cyan {
    background-color: #cbf2fe;
}

.bg-rounded-cyan {
    background-color: #cbf2fe;
    border-radius: 0px 50px 0px 0px;
}

.bg-rounded-cyan.after:after {
    content: "";
    position: absolute;
    width: 0;
    right: -5px;
    height: 0;
    transform: rotate(183deg);
    border-top: solid 135px #05395b;
    border-left: solid 5px transparent;
    border-right: solid 30px transparent;
    bottom: -15px;
}

.bg-gray {
    background-color: #f4f4f4;
}

.bg-gray-1 {
    background-color: #e5e5e5;
}

.bg-gray-1-opacity {
    background-color: #a4a4a4c9;
}

.bg-soft-orange {
    background-color: #f7f5e3;
}

.dark-orange {
    color: #974800;
}

.bg-input {
    background-color: #6d6d6d6b;
}

.bg-gray-2 {
    background-color: #f6f7f7;
}

.bg-cyan-1 {
    background-color: #e6ebfe;
}

.bg-gra-1 {
    background: #111651;
    transition: all 0.4s ease-in-out;
}

.bg-gra-1 p,
.bg-gra-1 svg path {
    transition: all 0.4s ease-in-out;
}

.bg-gra-1:hover {
    background: #fef5e6;
}

.bg-gra-1:hover p {
    color: #0d1033 !important;
}

.bg-gra-1:hover svg path {
    fill: #fe330a;
}

.bg-orange {
    background: #fe330a;
}

.bg-dark-blue {
    background: #05395b;
}

.bg-dark-blue-img {
    background: url(/assets/imgs/bg-1.webp) 20% 10% / 15%,
        linear-gradient(to right, #ffffff 40%, #05395b 40%);
    background-repeat: no-repeat;
    min-height: 460px;
}

.btn-check:checked + .btn.blue {
    background-color: #05395b;
}

.bg-orange-1 {
    background-color: #fce6c2;
}

.bg-white {
    background-color: #ffffff;
}

.bg-white-1 {
    background-color: #f7f7f7;
}

.h-200 {
    height: 200px;
}

.min-h-240 {
    min-height: 240px;
}

.m-top-minus {
    margin-top: -116px !important;
}

.m-top-minus2 {
    margin-top: -240px !important;
}

.m-t-m-105 {
    margin-top: -105px;
}

.m-top-img {
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: -45px !important;
}

.mh-280 {
    min-height: 280px;
}

.mh-320 {
    min-height: 320px;
}

.w-fit {
    width: fit-content;
}

.w-80 {
    width: 80%;
}

.w-18 {
    width: 18%;
}

.w-420px {
    width: 420px;
}
.h-270 {
    height: 270px;
}
.h-310 {
    height: 310px;
}
.h-390 {
    height: 390px;
}
.box-sh {
    box-shadow: -3px 3px 3px 0px #d1d1d1;
}
.bg-img3 {
    background-image: url(/assets/imgs/home/Rectangle3.webp);
}
.bg-img2 {
    background-image: url(/assets/imgs/home/Rectangle2.webp);
}
.bg-img1 {
    background-image: url(/assets/imgs/home/Rectangle1.webp);
}
.bg-img4 {
    background-image: url(/assets/imgs/home/Rectangle4.webp);
    background-position: 0px 115px;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-col-home {
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-out {
    border: solid 1px gray;
    border-radius: 133px;
    padding: 100px 60px 100px 60px;
    color: #4d4d4d;
    font-weight: 600;
    background-color: transparent;
    box-shadow: -0.75px 2.25px 7.5px 0px rgba(0, 0, 0, 0.16);
    transition: all 0.3s ease-in-out;
}

.btn-out:hover {
    color: #000000;
    background-color: #cbf2fe;
}

.hover-link span:first-child {
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

.hover-link:hover span:first-child {
    margin-right: 25px;
}

.line-95 {
    line-height: 95%;
}

.line-120 {
    line-height: 120%;
}

.border-b {
    border-bottom: 1px solid #c3c3c3;
}

.border-r {
    border-right: 1px solid #c3c3c3;
}

.border-b-r {
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

.py-24 {
    padding-bottom: 24px;
    padding-top: 24px;
}

.assistance-link {
    color: #5b5b5f;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.assistance-link svg path {
    transition: all 0.2s ease-in-out;
}

.assistance-link.active svg path,
.assistance-link:hover svg path {
    fill: #fe330a;
}

.assistance-link.active,
.assistance-link:hover {
    color: #fe330a;
}

.step-block {
    border-radius: 16px;
    background: #e6ebfe;
    max-width: 497px;
    padding: 25px 24px 24px 24px;
    margin-bottom: 40px;
}

.fixed-block {
    transition: all 0.3s ease-in-out;
}

.fixed-block.fixed {
    position: fixed;
    top: 100px;
    max-width: 500px;
}

.custom-badge {
    border-radius: 56px;
    border: 1px solid #141c68;
    padding: 16px 24px;
    text-align: center;
    font-size: 16px;
    color: #0d1033;
    margin: 10px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.custom-badge:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-input,
.contact-input:focus {
    background-color: #ececec;
}

.footer-top {
    display: flex;
}

.footer-top .footer-card {
    width: 100%;
    min-height: 240px;
    padding: 42px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .footer-card.light {
    background-color: #cbf2fe;
}

.footer-top .footer-card.dark {
    background-color: #05395b;
}

.footer-link {
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: #05395b;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.footer-link.active,
.footer-link:hover {
    opacity: 1;
}

footer {
    background-color: #f6f7f7;
}

footer hr {
    border-color: #dedede;
}

.block-padding {
    padding-left: 100px;
    padding-right: 100px;
}

.custom-input {
    border: 1px solid transparent;
    min-height: 45px;
    box-shadow: none;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.custom-input:focus {
    box-shadow: none;
    border: 1px solid #000000;
}

.bg-gray-3 {
    background-color: #0000001f;
}

.br-4 {
    border-radius: 4px;
}

.b-none {
    border: none;
}

.bg-gra-3-4 {
    background: linear-gradient(
        135deg,
        #07b8b0 0%,
        #07b8b0 0%,
        #05395b 0%,
        #05395b 70%,
        #07b8b0 30%,
        #07b8b0 100%,
        #07b8b0 100%,
        #05395b 10%,
        #05395b 10%,
        #05395b 100%,
        #05395b 100%,
        #05395b 100%
    );
}

.pt-50 {
    padding-top: 50px;
}

.mt-66 {
    margin-top: -66px;
}

.cyan-card {
    border-radius: 16px;
    max-width: 395px;
    margin: 0 auto;
    background-color: #cbf2fe;
    padding: 16px;
}

.cyan-card input {
    border: none;
    background-color: #0000001f;
    border-radius: 8px;
    border: none;
}

.cyan-card input:focus {
    box-shadow: none;
    background-color: #0000001f;
}

.accordion-button.acc-menu:not(.collapsed) {
    color: #05395b !important;
}

.float-label {
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    padding: 33px;
    min-width: 275px;
    min-height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooth-bg {
    background-image: url(/assets/imgs/home/bg-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 750px;
}

.coursal-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    width: 100%;
}

.coursal-wrapper .content {
    max-width: 145px;
}

.carousal-card {
    min-width: 358px;
    min-height: 165px;
    border-radius: 18px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 24px;
    margin: 20px;
}

.search-input-wrapper {
    background-color: #ffffff;

    border-radius: 14px;
    padding-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.search-input-wrapper form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input-wrapper form input {
    border: none;
    outline: none;
    color: #121212;
    font-size: 16px;
    max-height: 100%;
    width: 100%;
}

.search-input-wrapper form input::placeholder {
    color: #121212;
    font-size: 16px;
}

.search-input-wrapper form button {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 14px;
    background-color: #05395b;
    padding: 20px 30px;
    border: none;
    outline: none;
}

.page-bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c3c3c3;
    border-radius: 56px;
    padding: 15px 25px;
}

.chat-icon {
    position: fixed;
    top: 55vh;
    right: 25px;
    z-index: 9;
}

.chat-icon a,
.appointment-icon a {
    background-color: #05395b;
    width: 50px;
    height: 50px;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.chat-icon a:hover,
.appointment-icon a:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.appointment-icon {
    position: fixed;
    top: 65vh;
    right: 25px;
    z-index: 9;
}

.custom-pagination .page-item .page-link {
    border: none !important;
    background: transparent !important;
    border-radius: 50px;
    border: 1px solid transparent;
    color: #121212;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-pagination .page-item.disabled .page-link svg path {
    stroke: #b2b2b2;
}

.custom-pagination .page-item.active .page-link {
    border: 1px solid #121212 !important;
}

.blog-image {
    max-width: 60%;
    border-radius: 24px;
}

.social-media-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #ffffff;
}

.social-media-btn svg path {
    transition: all 0.3s ease-in-out;
}

.social-media-btn[data-platform="facebook"]:hover svg path {
    fill: #1877f2;
}

.social-media-btn[data-platform="twitter"]:hover svg path#fill-twitter {
    fill: #000000;
}

.social-media-btn[data-platform="pinterest"]:hover svg path {
    fill: #e60023;
}

.social-media-btn[data-platform="linkedin"]:hover svg path {
    fill: #0077b5;
}

.social-media-btn[data-platform="whatsapp"]:hover svg path {
    fill: #075e54;
}

.social-media-btn[data-platform="xing"]:hover svg path {
    fill: #126567;
}

.social-media-btn[data-platform="telegram"]:hover svg path {
    fill: #0088cc;
}

#results {
    position: absolute;
    background: #f4f4f4;
    top: 50px;
    width: 100%;
    left: 1px;
    text-align: start;
    border-radius: 0px 0px 10px 10px;
    max-height: 300px;
    overflow-y: scroll;
}

#results::-webkit-scrollbar {
    width: 5px;
}
#results::-webkit-scrollbar-track {
    background: #f1f1f1;
}
#results::-webkit-scrollbar-thumb {
    background: #ffffff;
}

#results ul {
    list-style: none;
    padding: 10px;
    margin-bottom: 0px;
}

#results ul li {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#results ul li p {
    margin-bottom: 0px;
}

#results ul li:hover {
    background-color: #ffffff;
}

.working-hours-block {
    color: #05395b;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffffff;
    padding: 13px;
    min-height: 227px;
    max-height: 227px;
    min-width: 57px;
    border-radius: 70px;
    margin: 0px -28px -13px -60px;
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.working-hours-wrapper {
    min-width: 365px;
    min-height: 400px;
    background-color: #cbf2fe;
    border-radius: 0px 18px 18px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 14px -6px,
        rgba(0, 0, 0, 0.3) 0px 0px 8px -1px;
}
.contact-dark {
    min-width: 100%;
    min-height: 400px;
    background-color: #05395b;
    border-radius: 18px 0px 0px 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 14px -6px,
        rgba(0, 0, 0, 0.3) 0px 0px 8px -1px;
}
.contact-form-bg {
    background-image: url(/assets/imgs/contact/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form-wrapper {
    background-color: #f6f7f7;
    padding: 25px 20px;
    border-radius: 23px;
    max-width: 542px;
    margin: 0px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.youtube-vedio {
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
}

#acc-tools-wrapper {
    max-width: 220px;
}

#accessibility-controls {
    position: absolute;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    z-index: 9;
    top: 30px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
}

#acc-tools-wrapper:hover #accessibility-controls {
    opacity: 1;
    visibility: visible;
}

#accessibility-controls button {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#accessibility-controls button:hover {
    background-color: #ededed;
}

@media (max-width: 1650px) {
    .sec-banner.services-pages {
        height: 700px;
    }
}

@media (max-width: 1400px) {
    .bg-img4 {
        background-position: bottom;
    }
    .footer-top .footer-card {
        padding: 42px;
    }
    .file-cover {
        min-width: 300px;
        min-height: 260px;
        background-size: 304px 214px;
    }
}

@media (max-width: 1200px) {
    .block-padding {
        padding-left: 50px;
        padding-right: 50px;
    }
    .sec-banner.about {
        height: 50vw;
    }
    .slides-arrows {
        right: -30px;
        height: 40%;
    }
    .slides-point {
        right: -17px;
        top: 127px;
    }
    .slides-content {
        min-height: 600px;
    }
    .file-cover {
        min-width: 300px;
        min-height: 216px;
        background-size: 274px 175px;
    }
    .sec-banner.services-pages {
        height: 575px;
    }
    .sec-banner.services-pages .fs-100 {
        font-size: 64px;
    }
}

@media (max-width: 991px) {
    .working-hours-block {
        min-width: 227px;
        max-width: 227px;
        min-height: 57px;
        margin: -34px 0px -25px 0px;
        z-index: 1;
        position: relative;
        writing-mode: horizontal-tb;
        text-orientation: mixed;
        background-color: #ffffff;
        color: #05395b;
        margin-right: auto;
        margin-left: auto;
    }
    .working-hours-wrapper {
        border-radius: 0px !important;
        border-radius: 0px 0px 15px 15px !important;
    }
    .contact-dark {
        border-radius: 0px !important;
        border-radius: 15px 15px 0px 0px !important;
    }
    .youtube-vedio {
        width: 100vw;
    }
    .card-white-down {
        border-radius: 0px;
    }

    .card-white {
        border-radius: 0px;
        height: 200px;
        margin-top: 286px;
    }
    .row.bg-img-card {
        background-size: contain;
        background-repeat: no-repeat;
    }
    .m-top-minus {
        margin-top: 20px !important;
    }
    .float-label {
        display: none;
    }
    .block-padding {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-top {
        flex-direction: column;
    }
    body {
        padding-top: 95px;
    }
    .m-t-m-105 {
        margin-top: 25px;
    }
    .bg-colu-home {
        background-image: none;
    }
    .step-block {
        margin-right: auto;
    }
    .assistance-banner {
        background-image: none;
        background: #fef5e6 !important;
        margin-top: 0px;
        height: 455px;
    }
    .bg-global-image {
        background-image: none;
    }
    .border-r {
        border-right: none;
    }
    .border-b-r {
        border-right: none;
        border-bottom: none;
    }
    .slides-images img {
        width: 90%;
        margin: 0 auto;
    }
    .slides-arrows,
    .slides-point {
        display: none;
    }
    .hand-before::after {
        display: none;
    }
    .sec-banner {
        height: 100%;
        padding-top: 50px;
        background: #fef5e6 !important;
    }
    .fs-80 {
        font-size: 48px;
    }
    .line-55 {
        line-height: 55px !important;
    }
    .text-anchor {
        height: 55px;
    }
    .slides-content {
        min-height: 400px;
    }
    .file-cover {
        min-width: 164px;
        min-height: 254px;
        background-size: 343px 210px;
        max-width: 345px;
        margin: 0 auto;
    }
    .mark-hover::before {
        display: none;
    }
    .sec-banner.services-pages {
        height: 100%;
        margin-bottom: 50px;
        background: #fef5e6 !important;
    }
    .sec-banner.services-pages.emr,
    .sec-banner.services-pages.smart {
        background: #e6fee7 !important;
    }
    .sec-banner.services-pages .white-color {
        color: #0d1033 !important;
    }
    .sec-banner.services-pages.it-medical {
        background: #c4ecf8 !important;
    }
    .contact-banner {
        flex-direction: column;
    }

    .contact-banner .fs-100 {
        font-size: 60px;
    }
    #sm-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .bg-rounded-cyan.after:after {
        display: none;
    }
    .bg-rounded-cyan {
        border-radius: 0px;
    }
    .bg-dark-blue-img {
        background: #ffffff;
        min-height: auto;
    }
    .coursal-wrapper {
        flex-direction: column;
        padding: 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .coursal-wrapper .content {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .page-bg-image {
        min-height: 550px;
        background-size: auto;
    }
    .bg-img2,
    .bg-img3 {
        background-image: none;
        height: auto;
    }
    .block-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sec-banner.about {
        height: 360px;
    }
    .fs-48,
    .fs-64 {
        font-size: 35px;
    }
    .about-slider {
        margin-left: 20px;
    }
    .mark-hover {
        margin-left: 0px;
    }
    .w-80 {
        width: 100%;
    }
    .custom-badge {
        margin: 15px auto;
        font-size: 14px;
    }
    .m-top-minus {
        margin-top: 50px !important;
    }
    .txt-media {
        margin-right: 0px !important;
        padding-right: 0px !important;
        line-height: 33px;
    }
    .video-size {
        min-height: 200px !important;
    }

    .working-hours-wrapper {
        min-width: 100%;
        min-height: 400px;
        background-color: #cbf2fe;
        border-radius: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px !important;
        margin-top: 50px !important;
        padding-top: 15px;
        border-radius: 0px 0px 15px 15px !important;
    }

    .contact-dark {
        min-width: 100% !important;
        min-height: 400px;
        background-color: #05395b;
        border-radius: 15px 15px 0px 0px !important;
    }

    .working-hours-block {
        min-width: 227px;
        max-width: 227px;
        min-height: 57px;
        margin: -34px 0px -71px 0px;
        z-index: 1;
        position: relative;
        writing-mode: horizontal-tb;
        text-orientation: mixed;
        background-color: #ffffff;
        color: #05395b;
        margin-right: auto;
        margin-left: auto;
    }
    .size-media {
        justify-content: flex-start !important;
        margin-top: 0px !important;
    }

    .card-white-top {
        margin-top: 0px;
        border-radius: 0px;
        height: 340px;
    }


}
